In [15]:
import pandas as pd
import numpy as np
data = ({'values': [10, 15, 20, 25, 25, 30, 35, 35, 35, 40, 45, 50, 55, 60, 65],
        'values2': [23,23,4,5,1,34,56,67,8,44,56,34,56,13,27]})
df = pd.DataFrame(data)
df

    values  values2
0       10       23
1       15       23
2       20        4
3       25        5
4       25        1
5       30       34
6       35       56
7       35       67
8       35        8
9       40       44
10      45       56
11      50       34
12      55       56
13      60       13
14      65       27

In [19]:
average_df = df['values'].mean()
average_df

36.333333333333336

In [27]:
median_df = df['values'].median()
median_df

35.0

In [29]:
mode_df = df['values'].mode()
mode_df

0    35
Name: values, dtype: int64

In [33]:
varience_df = df['values'].var()
varience_df

265.9523809523809

In [45]:
std_df = df['values'].std()
std_df

16.308046509388575

In [53]:
skew_df = df['values'].skew()
skew_df

0.21038039026925262

In [57]:
kurtosis_df = df['values'].kurt()
kurtosis_df

-0.7474893429125613

In [65]:
describe_df = df.describe()
describe_df

          values    values2
count  15.000000  15.000000
mean   36.333333  30.066667
std    16.308047  21.789469
min    10.000000   1.000000
25%    25.000000  10.500000
50%    35.000000  27.000000
75%    47.500000  50.000000
max    65.000000  67.000000

In [77]:
percentile25 = np.percentile(df['values2'],25)
percentile50 = np.percentile(df['values2'],50)
percentile75 = np.percentile(df['values2'],75)

                    
print(percentile25)
print(percentile50)

print(percentile75)

10.5
27.0
50.0

In [79]:
  import pandas as pd

# Sample data
data = {'values': [10, 15, 20, 25, 25, 30, 35, 35, 35, 40, 45, 50, 55, 60, 65]}
df = pd.DataFrame(data)

# Calculate skewness
skewness = df['values'].skew()
print("Skewness:", skewness)

# Calculate kurtosis
kurtosis = df['values'].kurt()
print("Kurtosis:", kurtosis)

Skewness: 0.21038039026925262
Kurtosis: -0.7474893429125613

In [81]:
import numpy as np

# Sample data
data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Calculate the 25th, 50th, and 75th percentiles
percentile_25 = np.percentile(data, 25)
percentile_50 = np.percentile(data, 50)  # Median
percentile_75 = np.percentile(data, 75)

print("25th Percentile:", percentile_25)
print("50th Percentile (Median):", percentile_50)
print("75th Percentile:", percentile_75)

25th Percentile: 32.5
50th Percentile (Median): 55.0
75th Percentile: 77.5